<header class="welcome">
  
  <div class="menu-and-logo-container">

    <a class="logo" routerLink="/"><span class="accent">Update</span> 24<span class="accent">x</span>7</a>
  
   <nav class="menu-container">
     <ul class="menu-list">       
       
       <li class="menu-list-item">
         <a class="menu-link" routerLink="/">home</a>
       </li>
       <li class="menu-list-item">
         <a class="menu-link" routerLink="/sports">sports</a>
       </li>        
       <li class="menu-list-item">
         <a class="menu-link" routerLink="/aboutus">about us</a>
       </li>        
       <li class="menu-list-item">
         <a class="menu-link" routerLink="/contactUs">contact us</a>
       </li>        
       <li class="menu-list-item">
         <a class="menu-link" routerLink="/signIn">sign in</a>
       </li>        
     </ul>
 </nav>
 </div>
 </header>