
  <nav class="navbar navbar-dark bg-dark">
    <form class="form-inline">
      <a class="navbar-brand" href="#">
        Update24x7 Admin
    </a>
      <a class="navbar-brand"></a>
      <button routerLinkActive class="btn btn-outline-light mr-2" type="submit" routerLink="/addNews">NewsForm</button>
      <button  routerLinkActive class="btn btn-outline-light mr-2" type="submit"  routerLink="/editNews" >EditNews</button>
      <button  routerLinkActive class="btn btn-outline-light" type="submit" routerLink="/" >LogOut</button>
    </form>
  </nav>
  