<app-login-header></app-login-header>
<!-- <div class="d-flex justify-content-center m-3 mb-3">
    <div class="card" style="width: 40rem;"> 
        <div class="card-body">
            <form  (ngSubmit)="onSubmit()">
                <div class="form-group row">
                        <label for="email" class="col-sm col-form-label">Email:</label>
                    <div class="col-md-10">
                         <input type="text" formControlName="email" class="form-control" placeholder="E-mail Address"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors}" >
                    </div>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be valid email</div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="onSubmit()">Send Passwork Reset Link</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
<app-footer></app-footer>
